.row {
  width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}

.column-1 {
  grid-column: 1/2;
}

.column-2 {
  grid-column: 2/3;
}

.row2 {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
}

.row3 {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

.row4 {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

// POPUP
.row5 {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

.popup {
  &__left {
    grid-column: 1/2;
  }

  &__right {
    grid-column: 2/4;
    align-self: center;
  }
  &__text {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid $color-grey-light-2;
  }
}
